<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.mindbend.android.announcements" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".onboardingAndSignupin.OnboardingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed" >
        </activity>
        <activity
            android:name=".onboardingAndSignupin.SignInUpActivity"
            android:label="@string/title_activity_sign_in_up" >
        </activity>
        <activity
            android:name=".MoreActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name=".onboardingAndSignupin.SignupSelectParentOrgActivity"
            android:label="@string/title_activity_signup_select_parent_org" >
        </activity>
    </application>

</manifest>
